apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins-k8s-cicd-demo
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins-k8s-cicd-demo
  template:
    metadata:
      labels:
        app: jenkins-k8s-cicd-demo
    spec:
      containers:
        - name: app
          image: DOCKERHUB_USERNAME/jenkins-k8s-cicd-demo:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: APP_VERSION
              value: "v1"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
