apiVersion: v1
kind: Service
metadata:
  name: jenkins-k8s-cicd-demo
  namespace: demo
spec:
  type: ClusterIP
  selector:
    app: jenkins-k8s-cicd-demo
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
